.main {
    width: calc(100% - 60px);
    max-width: 1280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    height: 100%;
    margin: 0 auto;
}
.main__text {
    color: white;
}
.main__user_container {
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
}

.main__input {
    margin-top: 20px;
    height: 30px;
    width: 200px;
    font-size: 20px;
}